 * {
  margin: 0;
  padding: 0;
}
.header_container {
  background-color: #131921;
  display: flex;
  gap: 10px;
  align-items: center;
  color: white;
  height: 60px;
}
.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  
}
.logo_container img {
  width: 80%;
  padding-top: 15px;
  margin-left: 10px;
  vertical-align: middle;
}
.delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-weight: bold;
  padding: 5px;
}
.delivery p {
  font-size: 12px;
}
.delivery span {
  margin-top: auto;
  font-size: 20px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  flex: 1;
}
.search select,
.search input {
  padding: 10px;
  font-weight: bold;
  outline: 1px solid white;
}
.search select {
  border: none;
  max-width: 65px;
  background-color: gainsboro;
}
.search input {
  border: 1px solid white;
  width: 100%;
  margin-left: -2px;
}
.search svg {
  padding: 7px;
  background: #febd69;
  color: #1a1a1a;
}
.search svg:hover {
  background-color: #d49644;
}
.search:focus-within {
  border: 2px solid #ff9900;
}
.order_container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  gap: 10px;
}
.order_container a {
  text-decoration: none;
  color: white;
}
.order_container p {
  font-size: 10px;
}
.language {
  display: flex;
  width: 100px;
  padding: 10px;
}
.language select {
  background-color: #131921;
  border: none;
  color: white;
}
.language img {
  width: 40%;
}
.cart {
  position: relative;
  margin-right: 10px;
}
.cart img{
  width: 75px;
  /* margin: 5px; */
}
.cart span {
  position: absolute;
  font-weight: 800;
  font-family: sans-serif;
  top: -2px;
  font-size: 12px;
  /* background-color: #131921; */
  left: 17px;
  color: orange;
  z-index: 100;
}
.order_container a:hover,
.delivery:hover,
.lower_header ul li:hover,
.logo_container a:hover {
  border: 1px solid white;
  border-radius: 3px;
}
/* for lower container */
.lower_header {
  background-color: #232f3e;
  color: white;
}
.lower_header ul {
  display: flex;
  list-style: none;
  gap: 5px;
}
.lower_header ul li {
  padding: 8px;
}
.lower_header ul li:first-child {
  display: flex;
  gap: 2px;
  align-items: center;
}
/* this is to make header fixed */
.fixed_Header{
  position:sticky;
  top:0;
  z-index: 100;
}
/* //to add responsiveness */
@media screen and (max-width: 576px) {
  .header_container {
    display: flex;
    flex-direction: column !important;
    height: auto;
  }
  .lower_header ul li:not(:first-child) {
    display: none;
  }
  .language {
    display: none;
  }
}